.DS_Store
*.log
*.dot
*.html
/cmake-build-debug/
/tools/XLNT/xlnt/
/tools/Athena/
/tools/PROTON/term/
/tools/UAutomizer/UltimateAutomizer-linux.zip
/tools/UAutomizer/UAutomizer-linux/
/tools/2LS/2ls/
Evaluation Results/CPAchecker/cncrt/FSE/loop/Misusing_Variable_Type_1_T/Misusing_Variable_Type_1_T_Loop0_TestCase0/ARGSimplified.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Misusing_Variable_Type_1_T/Misusing_Variable_Type_1_T_Loop0_TestCase0/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Misusing_Variable_Type_1_T/Misusing_Variable_Type_1_T_Loop0_TestCase0/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase3/ARGSimplified.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase3/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase3/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase5/ARGSimplified.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase5/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase5/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase9/ARGSimplified.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase9/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase9/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase7/ARGSimplified.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase7/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase7/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase6/ARGSimplified.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase6/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase6/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase8/ARGSimplified.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase8/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop0_TestCase8/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop0_TestCase10/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop0_TestCase10/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop0_TestCase8/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop0_TestCase8/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop0_TestCase6/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop0_TestCase6/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop0_TestCase7/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop0_TestCase7/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop0_TestCase9/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop0_TestCase9/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Type_Conversion_in_Comparison_1_T/Type_Conversion_in_Comparison_1_T_Loop0_TestCase7/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Type_Conversion_in_Comparison_1_T/Type_Conversion_in_Comparison_1_T_Loop0_TestCase7/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_NT/Missing_Iterator_Update_2_NT_Loop0_TestCase3/ARGSimplified.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_NT/Missing_Iterator_Update_2_NT_Loop0_TestCase3/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_NT/Missing_Iterator_Update_2_NT_Loop0_TestCase3/Report.html
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_NT/Missing_Iterator_Update_2_NT_Loop0_TestCase5/ARGSimplified.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_NT/Missing_Iterator_Update_2_NT_Loop0_TestCase5/ARG.dot
Evaluation Results/CPAchecker/cncrt/FSE/loop/Missing_Iterator_Update_2_NT/Missing_Iterator_Update_2_NT_Loop0_TestCase5/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Reusing_Same_Loop_Iterator_2_T/Reusing_Same_Loop_Iterator_2_T_Loop20_TestCase8/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Reusing_Same_Loop_Iterator_2_T/Reusing_Same_Loop_Iterator_2_T_Loop20_TestCase8/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop28_TestCase2/ARGSimplified.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop28_TestCase2/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop28_TestCase2/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop28_TestCase10/ARGSimplified.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop28_TestCase10/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop28_TestCase10/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop28_TestCase9/ARGSimplified.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop28_TestCase9/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Missing_Iterator_Update_2_T/Missing_Iterator_Update_2_T_Loop28_TestCase9/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop26_TestCase10/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop26_TestCase10/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop26_TestCase8/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop26_TestCase8/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop26_TestCase6/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop26_TestCase6/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop29_TestCase10/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop29_TestCase10/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop26_TestCase7/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop26_TestCase7/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop26_TestCase9/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop26_TestCase9/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop29_TestCase7/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop29_TestCase7/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop29_TestCase9/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop29_TestCase9/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop29_TestCase8/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop29_TestCase8/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop29_TestCase6/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Incorrect_Initialization_2_T/Incorrect_Initialization_2_T_Loop29_TestCase6/Report.html
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Missing_Iterator_Update_2_NT/Missing_Iterator_Update_2_NT_Loop28_TestCase2/ARGSimplified.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Missing_Iterator_Update_2_NT/Missing_Iterator_Update_2_NT_Loop28_TestCase2/ARG.dot
Evaluation Results/CPAchecker/slice+cncrt/FSE/loop/Missing_Iterator_Update_2_NT/Missing_Iterator_Update_2_NT_Loop28_TestCase2/Report.html
Evaluation Results/CPAchecker/base/FSE/loop/Misusing_Variable_Type_1_T/Misusing_Variable_Type_1_T_Loop0_TestCase0/ARGSimplified.dot
Evaluation Results/CPAchecker/base/FSE/loop/Misusing_Variable_Type_1_T/Misusing_Variable_Type_1_T_Loop0_TestCase0/ARG.dot
Evaluation Results/CPAchecker/base/FSE/loop/Misusing_Variable_Type_1_T/Misusing_Variable_Type_1_T_Loop0_TestCase0/Report.html
